@model IEnumerable<Vidlys.Models.Customer>

@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customer list</h1>
<hr />
<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-url="@Url.Action("New","Customers")" id="btnCreateCustomer">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  New Customer
</button>
<hr />


    <table id="customers" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

<div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="CreateCustomerModal" aria-hidden="true" data-backdrop="static">
    <div id="createCustomerContainer"> </div>
</div>

<div class="modal fade" id="editCustomerModal" tabindex="-1" role="dialog" aria-labelledby="EditCustomerModal" aria-hidden="true" data-backdrop="static">
    <div id="editCustomerContainer"></div>
</div>

<div class="modal fade" id="detailsAssetModal" tabindex="-1" role="dialog" aria-labelledby="DetailsAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsAssetContainer"></div>
</div>
 
@section scripts
    {
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [{
                    data: "name",
                    render: function (data, type, customer) {
                        return "<a class='editCustomer' href='@Url.Action("edit/", "Customers")" + customer.id + "'>" + customer.name + "</a>";
                    }
                }, {
                    data: "membershipType.name"
                },
                {
                    data: "id",
                    render: function (data) {
                        return "<button class='btn-link js-delete' data-customer-id=" + data + "><span class='glyphicon glyphicon-trash'> <span></button>";
                    }
                }
                ]
            }); 

          $("#customers").on("click", ".js-delete", function () {
              var button = $(this);
                 bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                     if (result) {
                         $.ajax({
                             url: "/api/customers/" + button.attr("data-customer-id"),
                             method: "DELETE",
                             success: function () {
                                 table.row(button.parents("tr")).remove().draw();
                             }
                         });
                     }
              });
          });
        });

        //add
        $("#btnCreateCustomer").on("click", function () {
            var url = $(this).data("url");
            $.get(url, function (data) {
                $('#createCustomerContainer').html(data);
                $('#createCustomerModal').modal('show');
            });
        });
        function CreateCustomerSuccess(data) {
            if (data != "success") {
                $('#createCustomerContainer').html(data);
                return;
            }
            $('#createCustomerModal').modal('hide');
            $('#createCustomerContainer').html("");
        }
        //edit
        function UpdateCustomerSuccess(data) {
            if (data != "success") {
                $('#editCustomerContainer').html(data);
                return;
            }
            $('#editCustomerModal').modal('hide');
            $('#editCustomerContainer').html("");
        }
        $('#customers').on("click", ".editCustomer", function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data) {
                $('#editCustomerContainer').html(data);
                $('#editCustomerModal').modal('show');
            });
        });
    </script>
 }









